aws_region = "us-east-1"
aws_account_id = "746443183845"
cluster_name = "ems-mvp-cluster"
node_group_name = "standard-workers-small"
node_instance_type = "t3.small"
node_desired_capacity = 1
ecr_repository = "ems-mvp"
image_tag = "latest"
k8s_namespace = "default"
k8s_service_account = "ems-mvp-sa"
bedrock_kb_id = "BJWEDBPNJH"