AWS_ACCOUNT_ID=746443183845
AWS_REGION=us-east-1

CLUSTER_NAME=ems-mvp-cluster
NODEGROUP_NAME=standard-workers-small
NODE_INSTANCE_TYPE=t3.small
NODE_COUNT=1

IAM_POLICY_NAME=BedrockAccessPolicy
K8S_NAMESPACE=default
K8S_SERVICE_ACCOUNT=ems-mvp-sa

ECR_REPOSITORY=ems-mvp
IMAGE_TAG=latest

APP_NAME=ems-mvp
CONTAINER_PORT=8080
SERVICE_PORT=80

BEDROCK_KB_ID=BJWEDBPNJH

BUILD_IMAGE=true
DOCKER_BUILD_CONTEXT=.